language: julia
os:
    - linux
julia:
    - 0.6
notifications:
    email: false
before_install:
    - sudo add-apt-repository ppa:radio-astro/main -y
    - sudo apt-get update -qq -y
    - sudo apt-get install libcasacore2-dev -y
    - sudo apt-get install casacore-data -y
after_success:
    - julia -e 'cd(Pkg.dir("TTCal")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'

